
function : void main() {
    int i, j;

    for (i = 0; i < 10; ++i) {

        for (j = 0; j < 10; ++j) {

            int product = i * j;

            if (product > 50) {
                cout << "These numbers are too big.  I'm breaking from the j loop!" << endl;
                break;
            }

            cout << i << " * " << j << " is " << product << "." << endl;

        }

        cout << endl;

    }

}
