// testing const var init

const int gci = 23 + 1;

const float gcf = 9.22 + 1;

const bool gcb = !true;

function : void main() {
  const int lci = 24;
  const float lcf = 10.33;
  const bool lcb = !false;

  cout << 1 << " " << gci << endl;
  cout << 2 << " " << gcf << endl;
  cout << 3 << " " << gcb << endl;

  cout << 4 << " " << lci << endl;
  cout << 5 << " " << lcf << endl;
  cout << 6 << " " << lcb << endl;
}

  