
function : void main() {
  int i, j;

  for (i = 0; i < 10; ++i) {
    for (j = 0; j < 10; ++j) {
      int product = i * j;

      if (product < 10) {
        cout << "  ";
      } else {
        if (product < 100) {
          cout << " ";
        }
      }

      cout << product << " ";

    }
    cout << endl;

  }
}
