float gi = 0;

float gj = gi++;

float gk = gi++;

function : void main() {
  cout << 1 << " " << gi << endl;
  cout << 2 << " " << gj << endl;
  cout << 3 << " " << gk << endl;

  float li = 0;
  float lj = 10 + li++;
  float lk = li++ + 10;

  cout << 4 << " " << li << endl;
  cout << 5 << " " << lj << endl;
  cout << 6 << " " << lk << endl;

}
